@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 15px;
}

section, footer {
  margin-left: 230px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  section, footer {
    margin-left: 128px;
  }
}

@media (max-width: 768px) {
  section, footer {
    margin: 0;
    padding: 0;
  }
}

.transition__ease {
  transition: all 300ms ease;
}

/** SCROLLBAR **/

* {
  scrollbar-width: auto;
  scrollbar-color: #fdf9ee #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #242025;
}

*::-webkit-scrollbar-thumb {
  background-color: #fdf9ee;
  border-radius: 10px;
  border: 4px solid #242025;
}

/* INTRO SECTION */

.box__shadow {
  box-shadow: 0 4px 0 0 #fdf9ee;
}

/* SERVICES SECTION */

.subtitle__hover {
  position: relative;
  color: #322431;
}

.subtitle__hover:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 1px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
  background-color: #fff;
}

.subtitle__hover:hover:after {
  left: 0;
  width: 100%;
}

.card__img-white:hover .img__white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(24%) saturate(636%)
    hue-rotate(317deg) brightness(100%) contrast(98%);
}
